@if (!isSmallScreen) {
  <div class="grid gap-3 grid-cols-3 py-2 accent-white">
    <div class="flex justify-center items-center">
      <img
        style="width: 100px;"
        class="logo inverted me-3"
        src="assets/images/alcalde.png"
      />
      <img
        style="width: 120px;"
        class="logo"
        src="assets/images/agency-logo.png"
      />
    </div>
    <div class="flex justify-center items-center">
      <div class="grid gap-2 grid-cols-1">
        <div class="flex justify-center items-center">
          <p class="text-title text-center">PLAN DE ORDENAMIENTO</p>
        </div>
        <div class="flex justify-center items-center mt-3">
          <p class="text text-center">
            Secretaría Municipal de Tránsito y Transporte
          </p>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <a href="https://gmsantacruz.gob.bo/" target="_blank">
        <img
          style="width: 250px"
          class="logo"
          src="assets/images/logo-alcaldia.png"
        />
      </a>
      <a
        href="https://www.facebook.com/SecretariaMunicipalDeTransitoyTransporte"
        target="_blank"
      >
        <img
          style="width: 80px;"
          class="logo"
          src="assets/images/logo-SMTT.png"
        />
      </a>
    </div>
  </div>
} @else {
  <div class="pt-5 pb-2 mx-4">
    <div class="flex justify-center items-center">
      <div class="grid gap-2 grid-cols-1">
        <div class="flex justify-center items-center">
          <span class="text-title text-center">PLAN DE ORDENAMIENTO</span>
        </div>
        <div class="flex justify-center items-center">
          <span class="text text-center">
            Secretaría Municipal de Tránsito y Transporte
          </span>
        </div>
      </div>
    </div>
    <div class="flex justify-center items-center">
      <div class="grid gap-1 grid-cols-2">
        <div class="flex justify-center items-center">
          <img
            style="width: 60px;"
            class="logo inverted me-3"
            src="assets/images/alcalde.png"
          />
          <img
            style="width: 70px;"
            class="logo"
            src="assets/images/agency-logo.png"
          />
        </div>
        <div class="flex justify-center items-center">
          <a href="https://gmsantacruz.gob.bo/" target="_blank">
            <img
              style="width: 200px"
              class="logo"
              src="assets/images/logo-alcaldia.png"
            />
          </a>
          <a
            href="https://www.facebook.com/SecretariaMunicipalDeTransitoyTransporte"
            target="_blank"
          >
            <img
              style="width: 50px;"
              class="logo"
              src="assets/images/logo-SMTT.png"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
}
